name: Build monitor-tools

on:
  workflow_dispatch:
  push:
    branches: ["main"]
    paths:
      - docker/**
      - extra/jupyter-monitor-tools/docker/**

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: cznewt/monitor-tools

jobs:
  build-monitor-tools:
    name: "Build monitor-tools"
    if: github.ref == 'refs/heads/main'
    uses: ./.github/workflows/docker-publish.yml
    permissions:
      contents: read
      id-token: write
      packages: write
    secrets: inherit
    with:
      APP_NAME: monitor-tools
      APP_DIR: docker

  build-jupyter-monitor-tools:
    name: "Build jupyter-monitor-tools"
    needs: build-monitor-tools
    if: github.ref == 'refs/heads/main'
    uses: ./.github/workflows/docker-publish.yml
    permissions:
      contents: read
      id-token: write
      packages: write
    secrets: inherit
    with:
      APP_NAME: jupyter-monitor-tools
      APP_DIR: extra/jupyter-monitor-tools/docker

  test-resources-rendering:
    name: "Test resources rendering"
    needs: build-monitor-tools
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
    container:
      image: ghcr.io/cznewt/monitor-tools:latest
      options: --user root
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Run do-all
        run: do-all
